version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db

    ports:
      - "5432:5432"

    environment:
      POSTGRES_DB: "utrip_db"
      POSTGRES_USER: "mark"
      POSTGRES_PASSWORD: "root_pass"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    restart: always

  minio:
    image: minio/minio:latest
    container_name: minio_server
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin"
      MINIO_SERVER_URL: "http://localhost:9000"

    command: server /data --console-address ":9001"

    volumes:
      - minio_data:/data

    restart: always


# Объявление внешнего тома для сохранения данных
volumes:
  minio_data: { }
  postgres_data: { }
